@model ExamsManagement.Models.eexmmaster

@{
    ViewBag.Title = "addStudentMissing";
}

<style>
    .custom-modal {
        /*Places modal center of the page*/
        position: fixed;
        top: 0;
        left: 50%;
        /*transform: translate(-50%, -50%);*/
        width: fit-content;
        height: fit-content;
        padding: 0 !important;
        /*end*/
    }

    .modal-dialog {
        right: 0px;
        width: 320px;
        height: 100%;
        margin: auto;
    }
</style>
<link href="~/Content/chosen.css" rel="stylesheet" />
<!-- Chosen Select CSS -->

<link href="~/Content/selectize.css" rel="stylesheet" />
<!-- Selectize CSS -->

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/sweetalert2@10.js"></script>

@*<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>*@
<style>
</style>
<div class="page-container">
    <div id='myModal' class='modal custom-modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>

    </div>
    <div class='modal custom-modal fade' id='addstudents_modal' tabindex='-1' role='dialog' aria-labelledby='addpayments_modal' aria-hidden='true'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h3 class='modal-title' id='addpayments_modal'>
                        بيانات الطلبة
                    </h3>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>

                    <div class="form-group">
                        <span style="display: block; margin-bottom: 7px;">أسم المدرسة <span style="color:red;">*</span></span>
                        <input required type="text" class="form-control" readonly id="school_name" name="school_name" placeholder="أسم المدرسة">
                    </div>
                    <div class="form-group">
                        <span style="display: block; margin-bottom: 7px;">السنة<span style="color:red;">*</span></span>
                        <input required type="text" class="form-control" readonly id="yearShow" name="yearShow" placeholder="السنة">
                    </div>
                    <div class="form-group">
                        <span style="display: block; margin-bottom: 7px;">الشهاده<span style="color:red;">*</span></span>
                        <input required type="text" class="form-control" readonly id="certShow" name="certShow" placeholder="الشهاده">
                    </div>
                    <div class="form-group">
                        <span style="display: block; margin-bottom: 7px;">الشعبه<span style="color:red;">*</span></span>
                        <input required type="text" class="form-control" readonly id="sho3baShow" name="sho3baShow" placeholder="الشعبه">
                    </div>
                    <div class="form-group">
                        <span style="display: block; margin-bottom: 7px;">رقم الصفحة <span style="color:red;">*</span></span>
                        <input required type="text" class="form-control" id="page_no" name="page_no" placeholder="رقم الصفحة">
                    </div>
                    <div class="form-group">
                        <span style="display: block; margin-bottom: 7px;">من رقم جلوس <span style="color:red;">*</span></span>
                        <input required type="text" class="form-control" id="seat_from" name="seat_from" placeholder="من رقم الصفحة">
                    </div>
                    <div class="form-group">
                        <span style="display: block; margin-bottom: 7px;">الى رقم جلوس <span style="color:red;">*</span></span>
                        <input required type="text" class="form-control" id="seat_to" name="seat_to" placeholder="الى رقم الصفحة">
                    </div>
                </div>
                <div>
                    <div id='progress_bar' style="background-color: green; width: 0%; height: 2px;"></div>
                </div>
                <div class='modal-footer'>
                    <button class='btn btn-primary' id='action'>حفظ <span id="progress_text"></span></button>
                    <button type='button' class='btn btn-light' id='close' data-dismiss='modal'>الغاء</button>
                </div>
            </div>
        </div>

    </div>

    <div class="page-content-wrapper">

        <div class="page-content">

            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12" id="daftarInfoId">

                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption font-red-sunglo">
                                    <i class="icon-settings font-red-sunglo"></i>
                                    <span class="caption-subject bold uppercase"> بيانات الدفتر</span>
                                </div>

                            </div>

                            <div class="portlet-body form">
                                <div class="form-body">

                                    <div class="form-horizontal">

                                        @if (@ViewBag.AddError != null)
                                        {
                                            <div class="alert alert-danger bold" role="alert">
                                                @ViewBag.AddError
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    اضافه مدرسه جديدة
                                                    <input class="checkbox" type='checkbox' id="addNewSchoolCheckId" />
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    أضافة شعبه جديدة
                                                    <input class="checkbox" type='checkbox' id="sho3baAddNew" />
                                                    <span></span>
                                                </label>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-6 mt-checkbox-list">
                                                <div class="form-group col-md-12" id="addSchoolDiv" style="display:none">

                                                    <div class="col-md-2 labelleft">
                                                        <label>المدرسة</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" placeholder="اسم المدرسة" name="schoolName" id="schoolNameId">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button class="btn btn-info" id="addSchoolBtn">اضافه</button>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-12" id="sho3baDivNew" style="display:none">
                                                <div class="col-md-5">
                                                    <span style="display: block; margin-bottom: 7px;">أسم الشعبة <span style="color:red;">*</span></span>
                                                    <input required type="text" class="form-control" id="eedupp0AddNew" name="eedupp0Add" placeholder="أسم الشعبة">
                                                </div>
                                                <div class="col-md-5">
                                                    <span style="display: block; margin-bottom: 7px;">الشهادة <span style="color:red;">*</span></span>
                                                    @Html.DropDownList("cert_id", new SelectList(ViewBag.cert, "id", "Master"), "أختر الشهادة", new { @class = "selectize", @name = "cert_id", @style = "width:100%;", @id = "sho3ba_cert_id" })
                                                </div>
                                                <div class="col-md-2">
                                                    <span style="display: block; margin-bottom: 7px;">&nbsp;</span>
                                                    <button class="btn btn-info" id="addSho3baBtnNew">اضافه</button>
                                                </div>
                                            </div>
                                        </div>

                                        @using (Html.BeginForm("uploadFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @*<input type="hidden" id="docId" name="edocref" value="@ViewBag.fileName" />*@
                                            <input type="hidden" id="isEdit" name="isEdit" value="@ViewBag.isEdit" />
                                            <input type="hidden" id="id" name="id" value="@Model.id" />
                                            <input type="hidden" id="eedSho3ba" name="eedSho3ba" value="@Model.eeduppx0" />
                                            <div class="form-group">
                                                <div class="col-md-2 labelleft">
                                                    <label>اسم الملف</label>
                                                </div>
                                                @*<div class="col-md-9">
                                                    <input required type="text" class="form-control" id="docId" name="edocref" value="@ViewBag.fileName" placeholder="أسم الملف">
                                                </div>*@
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="col-md-4">
                                                        <label>المحافظة</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(s => s.eegov, new SelectList(ViewBag.gov, "egovname", "egovname"), "أختر المحافظة", new { @class = "selectize", @name = "state", @style = "width:100%;", @id = "govId" })
                                                        @Html.ValidationMessage("المحافظة", "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-4">
                                                        <label>الإدارة التعليمية</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("eedusection", new SelectList(ViewBag.section, "eedusection1", "eedusection1"), "أختر المنطقة", new { @class = "selectize", @name = "state", @style = "width:100%", @id = "sectionId" })@*js-example-responsive*@
                                                        @Html.ValidationMessage("الأداره التعلميةي", "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-4">
                                                        <label>المدرسة</label>
                                                    </div>
                                                    <div class="col-md-8" id="append_school_new">
                                                        <div id="schoolDivNew">
                                                            @Html.DropDownList("eschool", new SelectList(ViewBag.school, "eschool1", "eschool1"), "أختر المدرسة", new { @class = "selectize", @name = "state", @style = "width:100%", @id = "schoolId" })
                                                        </div>
                                                        @Html.ValidationMessage("المدرسة", "", new { @class = "text-danger" })
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-4">
                                                        <label>الدور</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("elevel", new SelectList(ViewBag.level, "Value", "Text"), "أختر الدور", new { @class = "selectize", @name = "state", @style = "width:100%", @id = "levelId" })
                                                        @Html.ValidationMessage("الدور", "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-4">
                                                        <label>حالة الطالب</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("estatus", new SelectList(ViewBag.status, "Value", "Text"), "أختر الحالة", new { @class = "selectize", @name = "state", @style = "width:100%", @id = "statusId" })
                                                        @Html.ValidationMessage("الحالة", "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-4">
                                                        <label>السنة</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("eyear", new SelectList(ViewBag.year, "iyear", "iyear"), "أختر السنة", new { @class = "selectize", @name = "state", @style = "width:100%", @id = "yearId" })
                                                        @Html.ValidationMessage("السنة", "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-4">
                                                        <label>الشهادة</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("eedulictype", new SelectList(ViewBag.cert, "Master", "Master"), "أختر الشهادة", new { @class = "selectize", @name = "state", @style = "width:100%", @id = "certId" })
                                                        @Html.ValidationMessage("الشهادة", "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                @*<div class="col-md-6">
                                                        <div class="col-md-4">
                                                            <label>الشعبة</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            @Html.DropDownList("eeduppx0", new SelectList(ViewBag.sho3ba, "eedupp0", "eedupp0"), "أختر الشعبة", new { @class = "selectize", @name = "state", @style = "width:100%", @id = "sho3baId" })
                                                            @Html.ValidationMessage("الشعبة", "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>*@
                                                <div id="append_sho3ba">

                                                </div>

                                                @*<div class="col-md-6">
                                                        <div class="col-md-4">
                                                            <label>الشعبة</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            @Html.DropDownList("eeduppx0", new SelectList(ViewBag.sho3ba, "eedupp0", "eedupp0"), "أختر الشعبة", new { @class = "selectize", @name = "state", @style = "width:100%", @id = "sho3baId" })
                                                            @Html.ValidationMessage("الشعبة", "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>*@
                                                <div class="col-md-6" id="controlDiv" style="display:none;">
                                                    <div class="col-md-4">
                                                        <label>الكنترول</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("eeCount", new SelectList(ViewBag.control, "educon", "educon"), "أختر الكنترول", new { @class = "selectize", @name = "state", @style = "width:100%", @id = "controlId" })
                                                        @Html.ValidationMessage("الكنترول", "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet light">

                                                <div class="portlet-title">
                                                    <div class="row">
                                                        <div id="add_student_id" class="caption font-red-sunglo">
                                                            <div class="col-md-1">
                                                                <i class="icon-settings font-red-sunglo"></i>
                                                            </div>
                                                            <div class="col-md-9">
                                                                بيانات أرقام الجلوس
                                                            </div>

                                                            <div class="col-md-2">
                                                                <label><i title="أضافة" class="fa fa-plus"></i></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (ViewBag.isEdit == 1 && Model.id != 0)
                                                {
                                                    <div class="col-md-6">
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            اظهار الكل
                                                            <input class="checkbox" type='checkbox' id="showAll" />
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                }
                                                <div class="portlet-body">
                                                    <table id="data_table" class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>أسم المدرسة</th>
                                                                <th>رقم الصفحة</th>
                                                                <th>من رقم جلوس</th>
                                                                <th>الى رقم جلوس</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>

                                                    </table>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="form-actions">
                                                        @*<button type="submit" class="btn blue">حفظ</button>*@
                                                        <a href="@Url.Action("Documents","Home")" id="close" class="btn green">إلغاء </a>

                                                    </div>
                                                </div>
                                            </div>

                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>
</div>


@*<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>*@



<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<link href="~/Scripts/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>
<!-- Selectize JS -->
<script src="~/Scripts/selectize.js"></script>

@*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.0.2/js/dataTables.dateTime.min.js"></script>
    <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>*@

<!-- Chosen Select JS -->
<!-- Selectize JS -->

<script>


    //$("#showAll").click(function () {
    //    if($(this).is(":checked"))
    //    {
    //        var fileName = $('#fileID').val();
    //        showTable(fileName);
    //    }
    //    else
    //    {
    //        var id = $('#id').val();
    //        showTable($("#fileID").val(), id);
    //    }
    //});
    $("#add_student_id").click(function () {
        var eschool = $('#schoolId').val();
        var eyear = $('#yearId').val();
        var eedulictype = $('#certId').val();
        var eeduppx0 = $('#sho3baId').val();

        if (eschool.length == 0 || eyear.length == 0 || eedulictype.length == 0 || eeduppx0.length == 0) {

            warningBox("من فضلك أختر مدرسة و سنه و شهاده و شعبة.");

        } else {

            $("#addstudents_modal").modal('show');
            $('.modal-backdrop').removeClass("modal-backdrop");

            var iframe = document.getElementById('fileIndex');//$("#fileIndex").html();
            var innerDoc = iframe.contentDocument || iframe.contentWindow.document;
            var pageNmber = innerDoc.getElementById("pageNumber").value;

            $("#yearShow").val(eyear);
            $("#certShow").val(eedulictype);
            $("#sho3baShow").val(eeduppx0);
            $("#page_no").val(pageNmber);
            $('#school_name').val($('#schoolId').val());
            $('.modal-content').draggable().resizable();
            $(".modal-content").on("dragstop", function (event, ui) {
                $(".custom-modal").css({
                    top: ' calc( ' + $(".custom-modal").css("top") + ' + ' + $(".modal-content").css("top") + ')',
                    left: ' calc( ' + $(".custom-modal").css("left") + ' + ' + $(".modal-content").css("left") + ')'
                });
                $(".modal-content").css({
                    top: '0px',
                    left: '0px'
                });
            });
            $("#myModal").on('shown.bs.modal', function () {
                $("body").removeClass("modal-open");
                $(".custom-modal").removeClass("modal");
            });

        }
    });

    function showSho3ba(cert_id) {
        $("#sho3baDiv").remove();
        //var cert_id = $(this).val();
        var TeamDetailPostBackURL = '/Home/showSho3ba';
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { "cert": cert_id },
            datatype: "json",
            success: function (data) {

                var html = '<div id="sho3baDiv" class="col-md-6"> <label class="col-md-4"> الشعبة</label> <div class="col-md-8">';
                html += "<select  id='sho3baId' name='sho3ba' class='selectize' >";
                html += "<option value=''> أختر الشعبة </option>";
                data.data.forEach(function (el) {

                    if (el.eedupp0 == $("#eedSho3ba").val())
                        html += "<option value='" + el.eedupp0 + "' selected>" + el.eedupp0 + "</option>";
                    else
                        html += "<option value='" + el.eedupp0 + "' >" + el.eedupp0 + "</option>";
                });
                html += "</select></div></div>";
                $("#append_sho3ba").append(html);
                $('#sho3baId').selectize({
                    plugins: ['remove_button'],
                });
                if (cert_id == "الثانوية العامة") {
                    $("#controlDiv").show();
                } else {
                    $("#controlDiv").hide();
                }
            },
            error: function () {
                // alert("Dynamic content load failed.");
            }
        });
    }
    $(document).on("change", "#certId", function () {

        var cert_id = $(this).val();
        if (cert_id == "الثانوية العامة") {
            $("#controlDiv").show();
        } else {
            $("#controlDiv").hide();
        }
        showSho3ba(cert_id);

    });


    function showTable(id) {

        $("#data_table").dataTable().fnDestroy();

        var datatable = $('#data_table')
            .DataTable({
                "sAjaxSource": "/Home/showMissingStudents?daftarRowID=" + id,
                "bServerSide": true,
                "bProcessing": true,
                "bSearchable": false,
                "stateSave": false,
                "pageLength": 5,
                //"order": [[1, 'asc']],
                "language": {
                    "sEmptyTable": "ليست هناك بيانات متاحة في الجدول",
                    "sLoadingRecords": "جارٍ التحميل...",
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ مدخلات",
                    "sZeroRecords": "لم يعثر على أية سجلات",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "ابحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    },
                    "oAria": {
                        "sSortAscending": ": تفعيل لترتيب العمود تصاعدياً",
                        "sSortDescending": ": تفعيل لترتيب العمود تنازلياً"
                    }
                },
                "columns": [
                    {
                        "data": "eschool",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "epage",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "estudentfrom",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "estudentto",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "id", "name": "id",
                        fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                            //console.log(oData);
                            var html = "<a title='تعديل' href='javascript:void(0);' class='edit' data-id='" + oData.id + "' ><span class='fa fa-edit' ></span></a>";
                            html += "<a title='حذف' href='javascript:void(0);' class='delete' data-id='" + oData.id + "'  ><span class='fa fa-trash' ></span></a>";
                            $(nTd).html("<span class='action-column'>" + html + "</span>");
                        }
                    },
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                //buttons: [
                //    { extend: "create", editor: editor },
                //    { extend: "edit", editor: editor },
                //    { extend: "remove", editor: editor }
                //]
            });
        $(".dataTables_filter").hide();
        $(".dataTables_length").hide();
    }


    $(document).on("click", ".delete", function () {
        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');
        var options = { "backdrop": "static", keyboard: true };
        Swal.fire({
            title: 'هل أنت متأكد؟',
            text: "البيانات المحذوفة لا يمكن أسترجاعها!",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: 'لا!',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'نعم!'
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("deletePage","Home")',
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        //$("#data_table").dataTable().fnDestroy();
                        //showTable(data.data);

                        var id = $('#id').val();
                        //$("#data_table").dataTable().fnDestroy();
                        var isEdit = $("#isEdit").val();
                        if (isEdit == 1)
                            showTable($("#fileID").val(), id);
                        else
                            showTable(data.id);


                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });

            }
        })
    });

    $(document).on("click", ".edit", function () {

        var TeamDetailPostBackURL = '/Home/editPage';

        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');
        $('#id').val(id);
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { "Id": id },
            datatype: "json",
            success: function (data) {
                $('#myModalContent').html(data);
                $('#myModal').modal(options);
                $('#myModal').modal('show');
                $('.modal-backdrop').removeClass("modal-backdrop");
                $("#school_name_edit").val($("#schoolId").val());
                $("#edityearShow").val($("#yearId").val());

                $('.modal-content').draggable().resizable();
                $(".modal-content").on("dragstop", function (event, ui) {
                    $(".custom-modal").css({
                        top: ' calc( ' + $(".custom-modal").css("top") + ' + ' + $(".modal-content").css("top") + ')',
                        left: ' calc( ' + $(".custom-modal").css("left") + ' + ' + $(".modal-content").css("left") + ')'
                    });
                    $(".modal-content").css({
                        top: '0px',
                        left: '0px'
                    });
                });
                $("#mymodal").on('shown.bs.modal', function () {
                    $("body").removeclass("modal-open");
                    $(".custom-modal").removeclass("modal");
                });
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    });

    $("#page_no").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#seat_from").focus();
        }
    });

    $("#seat_from").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#seat_to").focus();
        }
    });

    $("#seat_to").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#action").click();
        }
    });

    $("#action").click(function () {
        var eexmmaster = {};
        eexmmaster.edocref = $('#docId').val();
        eexmmaster.eegov = $('#govId').val();
        eexmmaster.eedusection = $('#sectionId').val();
        eexmmaster.eschool = $('#schoolId').val();
        eexmmaster.elevel = $('#levelId').val();
        eexmmaster.estatus = $('#statusId').val();
        eexmmaster.eyear = $('#yearId').val();
        eexmmaster.eedulictype = $('#certId').val();
        eexmmaster.eeduppx0 = $('#sho3baId').val();
        eexmmaster.eeCount = $('#controlId').val();
        eexmmaster.epage = $('#page_no').val();
        eexmmaster.estudentfrom = $('#seat_from').val();
        eexmmaster.estudentto = $('#seat_to').val();
        $.ajax({
            type: "post",
            data: eexmmaster,

            url: '@Url.Action("saveDftarRow","Home")',
            dataType: 'json',
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            },
            success: function (json) {
                //$("#data_table").dataTable().fnDestroy();
                showTable(json.id);
                $("#seat_from").val('');
                $("#seat_to").val('');
                $("#addstudents_modal").modal('hide');
                if (json.refreshPage)
                    location.reload();
                //Swal.fire({
                //    position: 'top-end',
                //    icon: 'success',
                //    title: 'تم حفظ البيانات',
                //    timer: 1500
                //});
            }
        });

    });

    $("#close").click(function () {
        $("#addstudents_modal").modal('hide');
    });

    $("#addSchoolBtn").click(function () {
        var schoolName = $("#schoolNameId").val();

        if (schoolName) {
            $.ajax({
                type: "post",
                data: {
                    'schoolName': schoolName,
                },
                url: '@Url.Action("saveSchool","Home")',
                dataType: 'json',
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                success: function (json) {
                    if (json.icon == "success") {
                        var html = '<option selected value="' + json.schoolNameResult + '">' + json.schoolNameResult + '</option>';
                        //var o = new Option(json.schoolNameResult, json.schoolNameResult);
                        /// jquerify the DOM object 'o' so we can use the html method
                        //$(o).html(html);
                        $("#schoolId").prepend(html);
                        //alert(json.schoolNameResult);

                       // console.log(json.allSchools);
                        $("#schoolDivNew").remove();
                        var html = '<div id="schoolDivNew">';
                        html += "<select  id='schoolId' name='eschool' class='selectize' >";
                        html += "<option value=''> أختر المدرسة </option>";
                        json.allSchools.forEach(function (el) {
                            console.log(json.schoolNameResult == el.eschool1);
                            if (el.eschool1 == json.schoolNameResult)
                                html += "<option value='" + el.eschool1 + "' selected>" + el.eschool1 + "</option>";
                            else
                                html += "<option value='" + el.eschool1 + "' >" + el.eschool1 + "</option>";
                        });
                        html += "</select></div>";
                        $("#append_school_new").append(html);
                        $('#schoolId').selectize({
                            plugins: ['remove_button'],
                        });
                        $("#schoolId").val(json.schoolNameResult).attr("selected", "selected");
                        //$("#schoolId").get(0).selectedIndex = json.schoolNameResult;

                        $("#addSchoolDiv").toggle();
                        $('#schoolNameId').val("");
                        $('#addNewSchoolCheckId').prop('checked', false);
                    }

                }
            });

        }

    });

    $("#addSho3baBtnNew").click(function () {
        var eeduppx0 = {};
        eeduppx0.eedupp0 = $('#eedupp0AddNew').val();
        eeduppx0.cert_id = $('#sho3ba_cert_id').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("saveSho3ba", "Sho3ba")',
            contenttype: "application/json; charset=utf-8",
            data: eeduppx0,
            datatype: "json",
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            },
            success: function (json) {
                if (json.data == "Done") {

                    var eedulictype = $('#certId').val();
                    if (eedulictype.length != 0) {
                        showSho3ba(eedulictype);
                        var html = '<option selected value="' + json.sho3ba.eedupp0 + '">' + json.sho3ba.eedupp0 + '</option>';
                        $("#sho3baId").prepend(html);
                    }

                    $("#sho3baDivNew").toggle();
                    $('#eedupp0Add').val("");
                    $('#sho3baAddNew').prop('checked', false);
                }



            }
        });

    });

    $('#govId').selectize({
        plugins: ['remove_button'],
    });
    $('#sectionId').selectize({
        plugins: ['remove_button'],
    });
    $('#schoolId').selectize({
        plugins: ['remove_button'],
    });
    $('#levelId').selectize({
        plugins: ['remove_button'],
    });
    $('#statusId').selectize({
        plugins: ['remove_button'],
    });
    $('#yearId').selectize({
        plugins: ['remove_button'],
    });
    $('#certId').selectize({
        plugins: ['remove_button'],
    });
    $('#sho3baId').selectize({
        plugins: ['remove_button'],
    });
    $('#controlId').selectize({
        plugins: ['remove_button'],
    });
    $('#sho3ba_cert_id').selectize({
        plugins: ['remove_button'],
    });

    $(document).ready(function () {
       // var fileName = $('#fileID').val();

        var id = $('#id').val();

        var isEdit = $("#isEdit").val();
        //$("#data_table").dataTable().fnDestroy();

        //if (isEdit == 1) {
        //    var cert_id = $("#certId").val();
        //    if (cert_id)
        //        showSho3ba(cert_id);
        //    showTable($("#fileID").val(), id);
        //}
        //else
        //    showTable(fileName);

        //showTable($("#fileID").val(),id);
        $("#addSchoolDiv").hide();

        //if ($("#docId").val()||$("#id").val()!=0)
        //    $("#daftarInfoId").show();
        //else
        //    $("#daftarInfoId").hide();

        $("#addNewSchoolCheckId").click(function () {
            $("#addSchoolDiv").toggle();
        });
        $("#sho3baAddNew").click(function () {
            $("#sho3baDivNew").toggle();
        });

    });

    $(".js-example-responsive").select2({
        width: 'resolve' // need to override the changed default
    });
    var counter = 1;
    var trUniqueID = 1;

    function deleteRow(id) {
        $("#" + id).remove();
    }

    $('#add_student').click(function () {
        //$('#addstudents_modal').modal('show');


        var html = `<tr id="` + trUniqueID + `">
                    <td><input required type="text" class="form-control" id="school_name" name="school_name[]" placeholder="أسم المدرسة" value="`+ $('#schoolId').val() + `"></td>
                    <td><input required type="number" class="form-control" id="page_no" name="page_no[]" placeholder="رقم الصفحة" value="`+ counter + `"></td>
                    <td><input required type="number" class="form-control" id="seat_from" name="seat_from[]" placeholder="من رقم جلوس"></td>
                    <td><input required type="number" class="form-control" id="seat_to" name="seat_to[]" placeholder="الى رقم الصفحة"></td>
                    <td><label><i id="delete_page" onClick=deleteRow(`+ trUniqueID + `) title="حذف" class="fa fa-trash caption font-red-sunglo"></i></label></td>
                    </tr>`;
        counter++;
        trUniqueID++;
        $("#row_input").append(html);

    });
    $('#pdf_file_id').change(function (event) {
        var tmppath = URL.createObjectURL(event.target.files[0]);
        console.log(tmppath);

        $("#disp_tmp_path").html("Temporary Path(Copy it and try pasting it in browser address bar) --> <strong>[" + tmppath + "]</strong>");
    });


    //$("#displayFileBtnId").click(function () {
    //    $("#fileFrame").remove();
    //    var fileName = $("#fileNameId").val();

    //    var filePath = "https://localhost:44352/Files/" + fileName + ".pdf#page=1&toolbar=1&scrollbar=1";
    //    var html = `<iframe id="fileFrame" src="` + filePath + `"
    //        frameBorder="0"
    //        scrolling="auto"
    //        height="442"
    //        width="530"></iframe>`;
    //    $("#fileContainer").append(html);

    //});


</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom-validator")
}